.search {
    border: 2px solid black;
    width: 97vw;
    height: 50px;
    margin: auto;
    margin-bottom: -75px;
    padding: 0%;
    background-color: snow;
    border-radius: 8px;
    display: flex;
    justify-content: right;

}

.marker-infos {
    border: 2px solid black;
    width: 97vw;
    height: 50px;
    top: 55px;
    position: absolute;
    padding: 0%;
    background-color: thistle;
    display: flex;
    justify-content: left;

}


.navigation {
    border: 2px solid black;
    width: 97vw;
    height: 50px;
    padding: 0%;
    background-color: thistle;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}


body {
    background-image: url('velomap.png');
    margin: 0;

}